{% load i18n %}

{% if paginator %}
<div class="pagination no-al">
    <ul>
        {% if page.number > 1 %}
        <li>
            <a href="?page={{ page.previous_page_number }}">{% trans "Prev" %}</a>
        </li>
        {% endif %}
        {% for page_nb in paginator.page_range %}
        <li{% if page_nb == page.number %} class="active"{% endif %}>
        <a href="?page={{ page_nb }}">{{ page_nb }}</a>
        </li>
        {% endfor %}
        {% if page.number < paginator.num_pages %}
        <li>
            <a href="?page={{ page.next_page_number }}">{% trans "Next" %}</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}