.goscale-plugins-videos {
	
}
	h1 {
		font-family:Georgia;
		font-size: 22px;
		color:#2F2F2F;
		height:2.5em;
		margin: 20px auto 0 auto;
		width: 100%;
	}
	.videoListContainer {
		width: 100%;
		height: 146px;
		position: relative;
		padding: 20px 40px;
		box-sizing: border-box;
	}
		.videoListContainer .arrow {
			position: absolute;
			width: 27px;
			height: 27px;
			top: 60px;
			cursor: pointer;
		}
		.videoListContainer .arrow.disabled {
			visibility: hidden;
		}
		.videoListContainer .arrow.PrevScroll {
			background: url('../img/left.png') center center no-repeat;
			left: 0;
		}
		.videoListContainer .arrow.NextScroll {
			background: url('../img/right.png') center center no-repeat;
			right: 0;
		}
		.videoListContainer .videos {
			position: relative;
			width: 100%;
			height: 106px;
			overflow: hidden;
		}
			.videoListContainer .videos .VideosList {
				position: absolute;
				width: 20000em;
				height: 106px;
			}
				.videoListContainer .videos .VideosList .VideoItem {
					display: inline-block;
					padding: 0 5px;
				}
					.videoListContainer .videos .VideosList .VideoContainer {
						position: relative;
						width: 128px;
						height: 96px;
						border: 5px solid #444;
						cursor: pointer;
					}
					.videoListContainer .videos .VideosList .VideoContainer.selected {
						border-color: #bbb;
					}
						.videoListContainer .videos .VideosList .VideoContainer .VideoImage img {
							width: 128px;
							height: 96px;
						}
						.videoListContainer .videos .VideosList .VideoContainer .VideoTitle {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 122px;
							height: auto;
							padding: 3px;
							background: url('../img/title-bg.png') left top repeat;
							font-weight: bold;
							text-align: left;
							color: #444;
						}
	.goscale-plugins-videos .video-content .selectedVideoContainer, .goscale-plugins-videos .video-content .selectedVideoInformation {
		width: 425px;
		margin: 0 auto;
	}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon {
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 12px;
			background: left top no-repeat;
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-0 {
			background-image: url('../img/rating/0.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-5 {
			background-image: url('../img/rating/5.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-10 {
			background-image: url('../img/rating/10.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-15 {
			background-image: url('../img/rating/15.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-20 {
			background-image: url('../img/rating/20.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-25 {
			background-image: url('../img/rating/25.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-30 {
			background-image: url('../img/rating/30.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-35 {
			background-image: url('../img/rating/35.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-40 {
			background-image: url('../img/rating/40.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-45 {
			background-image: url('../img/rating/45.gif');
		}
		.goscale-plugins-videos .video-content .selectedVideoInformation .VideoRating .rating-icon.icon-50 {
			background-image: url('../img/rating/50.gif');
		}


/* lightbox style */
.video-lb-container {
	display: none;
}
	.selectedVideoContainer {
		min-height: 344px;
		min-width: 425px;
	}


/* IE fixes */
body.ie .videoListContainer .videos .VideosList .VideoItem {
	*display: inline;
}
body.ie #sideBar .box-sidebar .boxcontent .boxbottom {
	*float: left;
}