/* content style */
h1 {
	margin: 20px auto 0 auto;
}

.goscale-plugins-calendar {
	
}
	.location-details {
		display: inline-block;
		height: 30px;
		padding: 10px 23px 0 0;
		background: url('../img/link_arrow.gif') right 10px no-repeat;
		overflow: visible;
	}


/* datepicker style */
#important-days {
	display: none;
}
.error {
	display: none;
	color: red;
}
.map-lb-container {
	display: none;
}
#map {
	width: 800px;
	height: 600px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width: 18px;
}
#calendar .ui-datepicker .ui-datepicker-title {
	margin: 0 20px;
}
#calendar .ui-datepicker .ui-datepicker-title span {
	font-size: 14px;
}
#calendar .ui-datepicker .ui-datepicker-title span.ui-datepicker-year {
	display: inline !important;
}


/* IE fixes */
body.ie div.pagination ul li {
	*display: inline;
}
body.ie #sideBar .box-sidebar .boxcontent .boxbottom {
	*float: left;
}