.goscale-plugins-feeds {
	
}
	.videoListContainer {
		width: 100%;
		height: 146px;
		position: relative;
		padding: 20px 40px;
		box-sizing: border-box;
	}


/* IE fixes */
body.ie div.pagination ul li {
	*display: inline;
}
body.ie #sideBar .box-sidebar .boxcontent .boxbottom {
	*float: left;
}