{% load i18n %}
{% load account %}
{% load url from future %}

<h1>{% trans "Log in" %}</h1>

{% if socialaccount.providers  %}
	<p>
		{% blocktrans with site.name as site_name %}Please log in with one
		of your existing third party accounts. Or use the form
		below:{% endblocktrans %}
	</p>
	<div class="socialaccount_ballot">
		<ul class="socialaccount_providers">
			{% include "socialaccount/snippets/providers_list.html" %}
		</ul>
	</div>
	{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<form class="login" method="POST" action="{% url 'goscale_account_signup' %}">
	{% csrf_token %}
	{{ login_form.as_p }}
	{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button class="primaryAction btn" type="submit">{% trans "Log in" %}</button>
	<a class="forgot-pass button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>